<h1>Title</h1>
<hr>
<div id="game">

  <div class="info">
    Some info for the game
  </div>
  <div class="status">
    9-8 The status
  </div>
  <div class="grid">
    <div class="module">1</div>
    <div class="module">2</div>
    <div class="module">3</div>
    <div class="module">4</div>
    <div class="module">5</div>
    <div class="module">6</div>
    <div class="module">7</div>
    <div class="module">8</div>
    <div class="module">9</div>
    <div class="module">10</div>
    <div class="module">11</div>
    <div class="module">12</div>
    <div class="module">13</div>
    <div class="module">14</div>
    <div class="module">15</div>
    <div class="module">16</div>
    <div class="module">17</div>
    <div class="module">18</div>
    <div class="module">19</div>
    <div class="module">20</div>
    <div class="module">21</div>
    <div class="module">22</div>
    <div class="module">23</div>
    <div class="module">24</div>
    <div class="module">25</div>
  </div>
</div>
<h2>Bottom Section</h2>
{{outlet}}
